<!DOCTYPE html>
<html lang="en">

<head>
	<title>Enjoy Our Meals</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/favicon.png" />

	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">

	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">

	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/vegAndNonToggleBtn.css">

</head>

<body class="animsition">

	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar p-l-22">
						Free shipping for orders above ₹499
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li class="active-menu">
								<a href="/dishes">Dishes</a>
							</li>

							<li>
								<a href="/orders">Orders</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</div>
					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<a href="/viewCart" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
							data-notify="<%= cartDishCount %>">
							<i class="zmdi zmdi-shopping-cart"></i>
						</a>
						<!-- <a href="/myprofile" class="icon-header-item cl2 hov-cl1 trans-04 p-r-10 p-l-22">
							<i class="zmdi zmdi-account"></i>
						</a> -->
						<div class="dropdown">
							<a href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-r-10 p-l-22 dropdown-toggle"
								id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="zmdi zmdi-account"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="profileDropdown">
								<a class="dropdown-item" href="/myprofile">My Profile</a>
								<!-- <a class="dropdown-item" href="/settings">Settings</a> -->
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/getSignout">Logout</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">

				<a href="/viewCart" class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
					data-notify="<%=cartDishCount%>">
					<i class="zmdi zmdi-shopping-cart"></i>
				</a>
				<a href="/myprofile" class="icon-header-item cl2 hov-cl1 trans-04 p-r-10 p-l-10">
					<i class="zmdi zmdi-account"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>
		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li class="active-menu">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="">Dishes</a>
				</li>

				<li>
					<a href="/orders">Orders</a>
				</li>

				<li>
					<a href="/about">About</a>
				</li>

				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</header>

	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<!-- Heading -->
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Dishes
				</h3>
			</div>
			<!--menu -->
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Dishes
					</button>
					<% categories.slice(0,5).forEach((category)=> { %>
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
							data-filter=".<%=category.categoryName%>">
							<%= category.categoryName %>
						</button>
						<% }) %>

				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 size-105 pointer trans-04 m-tb-4 m-r-15">
						<div class="switch-toggle bor4 switch-3 switch-candy">
							<% if (filter=="Vegetarian" ){ %>
								<input id="on" name="state-d" type="radio" checked="checked" />
								<label for="on" onclick="filterVeg()">Veg</label>
								<input id="na" name="state-d" type="radio" />
								<label for="na" class="disabled" onclick="filterAll()">All</label>
								<input id="off" name="state-d" type="radio" />
								<label for="off" onclick="filterNon()">Non</label>
								<% } else if (filter=="Non-Vegetarian" ){ %>
									<input id="on" name="state-d" type="radio" />
									<label for="on" onclick="filterVeg()">Veg</label>
									<input id="na" name="state-d" type="radio" />
									<label for="na" class="disabled" onclick="filterAll()">All</label>
									<input id="off" name="state-d" type="radio" checked="checked" />
									<label for="off" onclick="filterNon()">Non</label>
									<% } else { %>
										<input id="on" name="state-d" type="radio" checked="" />
										<label for="on" onclick="filterVeg()">Veg</label>
										<input id="na" name="state-d" type="radio" checked="checked" />
										<label for="na" class="disabled" onclick="filterAll()">All</label>
										<input id="off" name="state-d" type="radio" />
										<label for="off" onclick="filterNon()">Non</label>
										<% } %>

						</div>
					</div>
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form action="/searchProduct" method="post">
						<div class="bor8 dis-flex p-l-15">
							<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="searchInput"
								placeholder="Search dishes...">
							<button class="size-105 bor4 flex-c-m fs-16 hov-cl1 trans-04 m-t-10 m-r-10 cl1"
								type="submit">
								Search
							</button>
					</form>
				</div>
			</div>
		</div>

		<!-- Product Card -->
		<div class=" row isotope-grid">
			<% dishes.forEach((batch)=> { %>
				<% batch.dishes.forEach((dish)=> { %>
					<% let filter=dish.productCategory.categoryName %>
						<div
							class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%=dish.productCategory.categoryName%>">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<!-- product Image -->
									<img style="height: 250px; width:300px ;" src="<%= dish.productImage1 %>"
										alt="IMG-PRODUCT">
									<!-- Button -->
									<a href="/dishDetailedView?id=<%=dish._id%>"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
										Detailed View
									</a>
								</div>
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="/dishSingleView"
											class="mtext-102 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%= dish.productName %>
										</a>
										<div class="flex-w p-b-20">
											<div class="size-203">
												<span class="fs-18 cl11">
													<% if(!dish.ratingScore || dish.ratingScore <=0){ %>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<% } else if(dish.ratingScore==1) { %>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<% } else if(dish.ratingScore==2) { %>
																<i class="zmdi zmdi-star"></i>
																<i class="zmdi zmdi-star"></i>
																<i class="zmdi zmdi-star-outline"></i>
																<i class="zmdi zmdi-star-outline"></i>
																<i class="zmdi zmdi-star-outline"></i>
																<% } else if(dish.ratingScore==3) { %>
																	<i class="zmdi zmdi-star"></i>
																	<i class="zmdi zmdi-star"></i>
																	<i class="zmdi zmdi-star"></i>
																	<i class="zmdi zmdi-star-outline"></i>
																	<i class="zmdi zmdi-star-outline"></i>
																	<% } else if(dish.ratingScore==4) { %>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star-outline"></i>
																		<% } else if(dish.ratingScore>= 5)
																			{ %>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<% } %>
												</span>
											</div>
										</div>
										<span class="ltext-102 cl1">
											₹<%= dish.productPrice %>
										</span>
										<div class="flex-w p-t-15">
											<p class="bor4 p-tb-5 p-lr-10">
												<%= dish.productType %>
											</p>
											<p class="bor4 p-tb-5 p-lr-10 m-l-15">
												<%= dish.productServings %>
													Servings
											</p>
										</div>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<div onclick="addToCart('<%= dish._id %>', '<%= dish.productName %>')"
											class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<div class="icon-heart1 dis-block trans-04" alt="ICON">
												<i class="zmdi zmdi-shopping-cart"></i>
											</div>
											<div class="icon-heart2 dis-block trans-04 ab-t-l" alt="ICON"><i
													class="zmdi zmdi-shopping-cart"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% }) %>
							<% }) %>





		</div>


	</section>


	<%- include('../partials/footer.ejs')%>


		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>


		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>

		<script src="vendor/animsition/js/animsition.min.js"></script>

		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>
		<script src="vendor/daterangepicker/moment.min.js"></script>
		<script src="vendor/daterangepicker/daterangepicker.js"></script>

		<script src="vendor/slick/slick.min.js"></script>
		<script src="js/slick-custom.js"></script>

		<script src="vendor/parallax100/parallax100.js"></script>
		<script>
			$('.parallax100').parallax100();
		</script>

		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<script>
			$('.gallery-lb').each(function () { // the containers for all your galleries
				$(this).magnificPopup({
					delegate: 'a', // the selector for gallery item
					type: 'image',
					gallery: {
						enabled: true
					},
					mainClass: 'mfp-fade'
				});
			});
		</script>

		<script src="vendor/isotope/isotope.pkgd.min.js"></script>

		<script src="vendor/sweetalert/sweetalert.min.js"></script>
		<script>
			async function addToCart(id, name) {
				const requestOptions = {
					method: 'POST',
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({ productId: id })
				};
				fetch('/addToCart', requestOptions)
					.then(response => response.json())
					.then(data => {
						swal(name, "is added to !", "success").then(() => {
							location.reload()
						})
					})
					.catch((err) => {
						console.error(err)
						swal("Cannot add dish to cart", "Kindly try after sometime.");
					})
			}
			$('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
				e.preventDefault();
			});

			$('.js-addwish-b2').each(function () {
				var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
				$(this).on('click', function () {
					swal(nameProduct, "is added to Cart !", "success");

					$(this).addClass('js-addedwish-b2');
					$(this).off('click');
				});
			});

			$('.js-addwish-detail').each(function () {
				var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

				$(this).on('click', function () {
					swal(nameProduct, "is added to  !", "success");

					$(this).addClass('js-addedwish-detail');
					$(this).off('click');
				});
			});

			/*---------------------------------------------*/

			$('.js-addcart-detail').each(function () {
				var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
				$(this).on('click', function () {
					swal(nameProduct, "is added to cart !", "success");
				});
			});

		</script>

		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>
		<script>
			function filterAll() {
				console.log("onclick")
				location.href = '/dishes'
			}
			function filterVeg() {
				console.log("onclick")
				location.href = '/getDishFilterBasedOnType?type=Vegetarian'
			}
			function filterNon() {
				console.log("onclick")
				location.href = '/getDishFilterBasedOnType?type=Non-Vegetarian'
			}
		</script>

		<script src="js/main.js"></script>

</body>

</html>