<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>zAYn Foods The Best Food Delivery App In Calicut</title>

	<link rel="icon" type="image/png" href="images/icons/favicon.png" />

	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">

	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">

	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" href="stylesheets/style.css">


</head>

<body class="animsition">
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Enjoy Free shipping for orders above ₹499!
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="">Home</a>
							</li>
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<button
							class="flex-c-m stext-101 cl0 size-104 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-show-myaccount">
							Sign In
						</button>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/index"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">

				<a href="#" class="cl1 mtext-102 hov-cl3 flex-c-m trans-04 p-lr-25 js-show-myaccount">
					Sign In
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for orders above ₹499
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li class="active-menu">
					<a href="">Home</a>
				</li>
				<li>
					<a href="/dishes">Dishes</a>
				</li>

				<li>
					<a href="/about">About</a>
				</li>

				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</header>


	<!-- Sign In-->
	<div class="wrap-header-myaccount js-panel-myaccount">
		<div class="s-full js-hide-cart"></div>

		<div class="header-myaccount flex-col-l p-l-65 p-r-25">
			<div class="header-myaccount-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Sign In
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-myaccount">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-myaccount-content flex-w js-pscroll">
				<ul class="header-myaccount-wrapitem w-full">
					<form id="signInForm">
						<span class="mtext-102 cl2">
							Username
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="username"
								placeholder="eg : Jhon007" id="SignInUsername">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							Password
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="password" name="password"
								placeholder="********" id="SignInPassword">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div id="SignInErrMsg" class="w-full ">

						</div>
						<a href="#" class="js-show-resetPassword"><span class="stext-102 cl8">
								Forgot password?
							</span><span> Reset Password</span></a>
						<div class="p-t-18">
							<button onclick="signin()"
								class="flex-c-m stext-101 cl0 size-117 bg1 bor1 hov-btn1 p-lr-15 trans-04"
								type="button">
								Sign In
							</button>
						</div>
					</form>
				</ul>

				<div class="w-full">
					<a href="#" class="js-show-editInfo"><span class="stext-102 cl8">
							Don't have an account?
						</span> <span> Sign Up</span></a>
				</div>
			</div>
		</div>
	</div>

	<!-- OTP-->
	<div class="wrap-header-myaccount js-panel-otp">
		<div class="s-full js-hide-otp"></div>

		<div class="header-myaccount flex-col-l p-l-65 p-r-25">
			<div class="header-myaccount-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Verify OTP
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-otp">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			<div class="header-myaccount-content flex-w js-pscroll">
				<ul class="header-myaccount-wrapitem w-full">
					<form>
						<span class="mtext-102 cl2">
							OTP
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="otp" id="otpInputField"
								placeholder="Enter OTP here">
							<div class="focus-input1 trans-04"></div>
						</div>
						<a href="#"><span class="stext-102 cl8">
								OTP Has been sent into your mail<br>
							</span><span id="otpTimer"></span></a>
						<input type="text" name="username" id="reUsername" value="<%= body.username %>"
							style="display: none;">
						<input type="text" name="fullname" id="reFullname" value="<%= body.fullname %>"
							style="display: none;">
						<input type="text" name="phoneNumber" id="rePhoneNumber" value="<%= body.phoneNumber %>"
							style="display: none;">
						<input type="text" name="email" id="reEmail" value="<%= body.email %>" style="display: none;">
						<input type="text" name="password" id="rePassword" value="<%= body.password %>"
							style="display: none;">
						<input type="text" name="flatNo" id="reFlatNo" value="<%= body.flatNo %>"
							style="display: none;">
						<input type="text" name="street" id="reStreet" value="<%= body.street %>"
							style="display: none;">
						<input type="text" name="landmark" id="reLandmark" value="<%= body.landmark %>"
							style="display: none;">
						<input type="text" name="pincode" id="rePincode" value="<%= body.pincode %>"
							style="display: none;">
						<input type="text" name="district" id="reDistrict" value="<%= body.district %>"
							style="display: none;">
						<input type="text" name="generatedOTP" id="" value="<%= body.generatedOTP %>"
							style="display: none">
						<div id="OTPErrMsg" class="w-full "></div>
						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-117 bg1 bor1 hov-btn1 p-lr-15 trans-04"
								type="button" onclick="sendotp()">
								Submit
							</button>
						</div>
					</form>
				</ul>
			</div>
		</div>
	</div>


	<!-- Reset Password-->
	<div class="wrap-header-myaccount js-panel-resetPasswordStep2">
		<div class="s-full js-resetPasswordStep2-"></div>

		<div class="header-myaccount flex-col-l p-l-65 p-r-25">
			<div class="header-myaccount-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Reset Password
				</span>
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-resetPasswordStep2">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-myaccount-content flex-w js-pscroll">
				<ul class="header-myaccount-wrapitem w-full">
					<form>
						<span class="mtext-102 cl2">
							OTP
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text"
								placeholder="Enter received OTP" id="confirmOTP">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							New Password
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="password" id="newPassword"
								placeholder="Enter a strong password">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="password" name="password"
								placeholder="Confirm your password" id="confirmNewPassword">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div id="resetPasswordError"></div>
						<div class="p-t-18">
							<button type="button"
								class="flex-c-m stext-101 cl0 size-117 bg1 bor1 hov-btn1 p-lr-15 trans-04"
								onclick="resetPassword()">
								Reset Password
							</button>
						</div>
					</form>
				</ul>
			</div>
		</div>
	</div>

	<!-- Forgot Password-->
	<div class="wrap-header-myaccount js-panel-resetPassword">
		<div class="s-full js-hide-resetPassword"></div>

		<div class="header-myaccount flex-col-l p-l-65 p-r-25">
			<div class="header-myaccount-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Reset Password
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-resetPassword">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-myaccount-content flex-w js-pscroll">
				<ul class="header-myaccount-wrapitem w-full">
					<form>
						<span class="mtext-102 cl2">
							Email
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="email" name="email" required
								id="forgotEmail" placeholder="Enter your email">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="w-full">
							<span class="stext-102">
								Click the "Send OTP" Button and check your email !
							</span>
						</div>
						<div id="sendOtpErr"></div>
						<div class="p-t-18">
							<button type="button"
								class="flex-c-m stext-101 cl0 size-117 bg1 bor1 hov-btn1 p-lr-15 trans-04"
								onclick="forgotPassWordSendOtp()">
								Send OTP
							</button>
						</div>
					</form>
				</ul>
			</div>
		</div>
	</div>

	<!-- SignUp-->
	<div class="wrap-header-myaccount js-panel-editInfo">
		<div class="s-full js-hide-cart"></div>

		<div class="header-myaccount flex-col-l p-l-65 p-r-25">
			<div class="header-myaccount-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Sign Up
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-editInfo">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-myaccount-content flex-w js-pscroll">
				<ul class="header-myaccount-wrapitem w-full">
					<form id="signUpform">
						<span class="mtext-102 cl2">
							Username
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="username"
								id="signUpUsername" placeholder="eg : Jhon007">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							Full Name
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="fullname"
								id="signUpFullname" placeholder="eg : Jhon Abraham">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							Phone Number
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="tel" name="phoneNumber"
								id="SignUpPhoneNumber" value="+91 ">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							Email Id
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="email" id="signUpEmail"
								placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							Address
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="flatNo" id="signUpFlatNo"
								placeholder="Flat Name, No">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="street" id="signUpStreet"
								placeholder="Street">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="landmark"
								id="signUpLandmark" placeholder="Landmark">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="text" name="district"
								id="signUpDistrict" placeholder="District">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="number" name="pincode"
								id="signUpPincode" placeholder="Pincode">
							<div class="focus-input1 trans-04"></div>
						</div>
						<span class="mtext-102 cl2">
							Password
						</span>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="password" name="password"
								id="signUpPassword" placeholder="Password">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div class="wrap-input1 w-full p-b-4 mb-4 mt-2">
							<input class="input1 bg-none plh1 stext-107 cl2" type="password" name="confirmPassword"
								id="signUpConfirmPassword" placeholder="Confirm Password">
							<div class="focus-input1 trans-04"></div>
						</div>
						<div id="errMsg" class="w-full ">
							<!-- validation code -->
						</div>
						<div class="p-t-18">
							<button type="button" onclick="signup()"
								class="flex-c-m stext-111 cl0 size-117 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Sign Up
							</button>
						</div>
					</form>
				</ul>
				<div class="w-full p-t-27">
					<a href="#" class="js-show-otp js-hide-editInfo"><span class="stext-102 cl8">
							Already have an account?
						</span> <span> Login</span></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<% slider.forEach((slide)=>{ %>
					<div class="item-slick1" style="background-image: url(<%=slide.image%>);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
									data-delay="0">
									<span class="ltext-101 cl2 respon2">
										<%= slide.primaryText %>
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
									data-delay="800">
									<h2 class="ltext-203 cl2 p-t-19 p-b-43 respon1">
										<%= slide.altText %>
									</h2>
								</div>
							</div>
						</div>
					</div>
					<% }) %>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<% offerBox.forEach((box)=>{ %>
					<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="<%=box.image%>" alt="IMG-BANNER">

							<a href="<%=box.link ? box.link : " #" %>"
								class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-info stext-102-1 cl2 trans-04">
										<%=box.name%>
									</span>
								</div>

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link ltext-102 cl0 trans-09">
										<%=box.price ? "₹" : "" %>
											<%=box.price ? box.price : "" %>
									</div>
								</div>
							</a>
						</div>
					</div>
					<% })%>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Dishes
				</h3>
			</div>

			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Dishes
				</button>
				<% categories.slice(0,5).forEach((category)=> { %>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
						data-filter=".<%=category.categoryName%>">
						<%= category.categoryName %>
					</button>
					<% }) %>
			</div>

			<!-- Product Card -->
			<div class="row isotope-grid">

				<% products.forEach((dish)=> { %>
					<% let filter=dish.productCategory.categoryName %>
						<div
							class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%=dish.productCategory.categoryName%>">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<!-- product Image -->
									<img style="height: 250px; width:300px ;" src="<%= dish.productImage1 %>"
										alt="IMG-PRODUCT">

									<!-- Button -->
									<button type="button" onclick="detailView()"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
										Detailed View
									</button>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="/dishSingleView"
											class="mtext-102 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%= dish.productName %>
										</a>
										<div class="flex-w p-b-20">
											<div class="size-203">
												<span class="fs-18 cl11">
													<% if(!dish.ratingScore || dish.ratingScore <=0){ %>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<i class="zmdi zmdi-star-outline"></i>
														<% } else if(dish.ratingScore==1) { %>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<% } else if(dish.ratingScore==2) { %>
																<i class="zmdi zmdi-star"></i>
																<i class="zmdi zmdi-star"></i>
																<i class="zmdi zmdi-star-outline"></i>
																<i class="zmdi zmdi-star-outline"></i>
																<i class="zmdi zmdi-star-outline"></i>
																<% } else if(dish.ratingScore==3) { %>
																	<i class="zmdi zmdi-star"></i>
																	<i class="zmdi zmdi-star"></i>
																	<i class="zmdi zmdi-star"></i>
																	<i class="zmdi zmdi-star-outline"></i>
																	<i class="zmdi zmdi-star-outline"></i>
																	<% } else if(dish.ratingScore==4) { %>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star"></i>
																		<i class="zmdi zmdi-star-outline"></i>
																		<% } else if(dish.ratingScore>= 5) { %>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<i class="zmdi zmdi-star"></i>
																			<% } %>

												</span>
											</div>
										</div>
										<span class="ltext-102 cl1">
											₹<%= dish.productPrice %>
										</span>
										<div class="flex-w p-t-15">
											<p class="bor4 p-tb-5 p-lr-10">
												<%= dish.productType %>
											</p>
											<p class="bor4 p-tb-5 p-lr-10 m-l-15">
												<%= dish.productServings %>
													Servings
											</p>
										</div>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<div class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<div class="icon-heart1 dis-block trans-04" alt="ICON"><i
													class="zmdi zmdi-shopping-cart"></i></div>
											<div class="icon-heart2 dis-block trans-04 ab-t-l" alt="ICON"><i
													class="zmdi zmdi-shopping-cart"></i></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% }) %>



			</div>
			<!--  pagination -->
			<% if (products.length>0) { %>
				<nav aria-label="Dashboard Pagination">
					<ul class="pagination justify-content-center mt-5">
						<% if (current==1) { %>
							<li class="page-item disabled"><a href="#" class="page-link">First</a>
							</li>

							<% } else {%>
								<li class="page-item"><a href="/?page=1" class="page-link">First</a>
								</li>
								<% } %>
									<% var i=(Number(current)>5 ? Number(current)-4 :1)%>
										<% if (i!==1) { %>
											<li class="page-item disabled"><a href="#" class="page-link">...</a></li>
											<% } %>
												<% for(; i<=Number(current)+4 && i<=pages;i++){ %>
													<% if (i==current) { %>
														<li class="page-item disabled"><a href="#" class="page-link">
																<%= i %>
															</a></li>
														<% } else {%>
															<li class="page-item"><a href="/?page=<%= i %>"
																	class="page-link">
																	<%= i %>
																</a></li>
															<% } %>
																<% if (i==Number(current)+4 && i<pages) { %>
																	<li class="page-item disabled"><a href="#"
																			class="page-link">
																			...
																		</a></li>
																	<% } %>

																		<% } %>

																			<% if (current==pages) { %>
																				<li class="page-item disabled"><a
																						href="#"
																						class="page-link">Last</a>
																				</li>

																				<% } else {%>
																					<li class="page-item"><a
																							href="/?page=<%= pages %>"
																							class="page-link">Last</a>
																					</li>
																					<% } %>

					</ul>
				</nav>

				<% } %>
		</div>

		<!-- Previous Page Button -->

		</div>
	</section>




	<%- include('../partials/footer.ejs')%>


		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

		<script src="js/otpTimer.js"></script>
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<script src="vendor/animsition/js/animsition.min.js"></script>
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>

		<script src="vendor/daterangepicker/moment.min.js"></script>
		<script src="vendor/daterangepicker/daterangepicker.js"></script>
		<script src="vendor/slick/slick.min.js"></script>
		<script src="js/slick-custom.js"></script>
		<script src="vendor/parallax100/parallax100.js"></script>
		<script>
			$('.parallax100').parallax100();
		</script>
		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<script>
			$('.gallery-lb').each(function () { // the containers for all your galleries
				$(this).magnificPopup({
					delegate: 'a', // the selector for gallery item
					type: 'image',
					gallery: {
						enabled: true
					},
					mainClass: 'mfp-fade'
				});
			});
		</script>
		<script>
			let mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
			let usernameRegex = /^[a-zA-Z0-9]+$/;
			let passwwordregx = /^(?=.*\p{Ll})(?=.*\p{Lu})(?=.*[\d|@#$!%*?&])[\p{L}\d@#$!%*?&]{6,36}$/gu
			let phoneNumberregx = /^(\+91[\-\s]?)?[0]?(91)?[56789]\d{9}$/
			let resetPasswordOtp = ""
			let userMail = ""


			let reUsername = ""
			let reFullname = ""
			let rePhoneNumber = ""
			let reEmail = ""
			let reFlatNo = ""
			let reStreet = ""
			let reLandmark = ""
			let rePincode = ""
			let reDistrict = ""
			let rePassword = ""
			let generatedOTP = ""
			let otpInputField = ""

			function showError(htmlElement, errorMsg) {
				document.getElementById(htmlElement).innerHTML = `<div class="alert alert-danger" role="alert">${errorMsg}</div>`
				setTimeout(() => {
					document.getElementById(htmlElement).innerHTML = `<div></div>`
				}, 6000)
			}

			function signin() {
				const loginUsername = document.getElementById("SignInUsername").value;
				const loginPassword = document.getElementById("SignInPassword").value;

				const requestOptions = {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						username: loginUsername,
						password: loginPassword,
					})
				}

				fetch("/postSignin", requestOptions)
					.then((response) => {
						if (!response.ok) {
							response.json().then((error) => {
								showError('SignInErrMsg', error.message);
							})
						}
						else {
							response.json().then(data => {
								location.replace(`/`);
							})
						}
					})
					.then((data) => {
						console.log(data, "Data");
					})
					.catch((error) => {
						console.log(error, "error");
					});
			};

			function signup() {
				let signUpUsername = document.getElementById("signUpUsername").value;
				let signUpFullname = document.getElementById("signUpFullname").value;
				let SignUpPhoneNumber = document.getElementById("SignUpPhoneNumber").value;
				let signUpEmail = document.getElementById("signUpEmail").value;
				let signUpFlatNo = document.getElementById("signUpFlatNo").value;
				let signUpStreet = document.getElementById("signUpStreet").value;
				let signUpLandmark = document.getElementById("signUpLandmark").value;
				let signUpDistrict = document.getElementById("signUpDistrict").value;
				let signUpPincode = document.getElementById("signUpPincode").value;
				let signUpPassword = document.getElementById("signUpPassword").value;
				let signUpConfirmPassword = document.getElementById("signUpConfirmPassword").value;

				if (
					signUpUsername == "" ||
					signUpFullname == "" ||
					SignUpPhoneNumber == "" ||
					signUpEmail == "" ||
					signUpFlatNo == "" ||
					signUpStreet == "" ||
					signUpLandmark == "" ||
					signUpDistrict == "" ||
					signUpPincode == "" ||
					signUpPassword == ""
				) {
					showError('errMsg', "Make sure you have entered all fields");
					return false;
				} else if (!signUpEmail.match(mailformat)) {
					showError('errMsg', "You have entered an invalid email address");
					return false;
				} else if (!signUpUsername.match(usernameRegex)) {
					showError('errMsg',
						"Your username is not valid. Only characters A-Z, a-z and '-', numbers are  acceptable"
					);
					return false;
				} else if (signUpPassword.length < 5) {
					showError('errMsg',
						"Make sure your password contains atleast 5 charecters or numbers"
					);
					return false;
				} else if (signUpPassword.length > 16) {
					showError('errMsg',
						"Your password is too long make sure it is less than 16 charecters or numbers"
					);
					return false;
				} else if (!signUpPassword.match(passwwordregx)) {
					showError("errMsg", "The password must be at least 6 characters long and must contain at least one lowercase letter, one uppercase letter, one digit, and one special character (@, #, $, !, %, *, ?, &)")
					return false;
				} else if (!SignUpPhoneNumber.match(phoneNumberregx)) {
					showError("errMsg", "Phone number not valid")
					return false;
				} else if (signUpPassword !== signUpConfirmPassword) {
					showError('errMsg', "Password doesn't match");
					return false;
				}

				const requestOptions = {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						username: signUpUsername,
						fullname: signUpFullname,
						phoneNumber: SignUpPhoneNumber,
						email: signUpEmail,
						flatNo: signUpFlatNo,
						street: signUpStreet,
						landmark: signUpLandmark,
						district: signUpDistrict,
						pincode: signUpPincode,
						password: signUpPassword,
					})
				}

				fetch("/postSendOtp", requestOptions)
					.then((response) => response.json())
					.then((data) => {
						if (data.status == 200) {
							console.log(data)
							console.log("data.username", data.data.username)
							reUsername = data.data.username
							reFullname = data.data.fullname
							rePhoneNumber = data.data.phoneNumber
							reEmail = data.data.email
							reFlatNo = data.data.flatNo
							reStreet = data.data.street
							reLandmark = data.data.landmark
							rePincode = data.data.pincode
							reDistrict = data.data.district
							rePassword = data.data.password
							generatedOTP = data.data.generatedOTP
							$(".js-panel-otp").addClass("show-header-myaccount");
							$(".js-panel-editInfo").removeClass("show-header-myaccount");
							$(".js-panel-otp").addClass("js-hide-editInfo js-show-otp");

							$(".js-hide-otp").on("click", function () {
								$(".js-panel-otp").removeClass("show-header-myaccount");
								location.replace('/');
							});
						} else {
							console.log("else err")
							showError('errMsg', data.errorMsg);
						}
					})
					.catch((error) => {
						console.log(error, "catch error");
						showError('errMsg', error.message);
					});
			}

			function sendotp() {
				const otpInputField = document.getElementById("otpInputField").value;
				const reqbody = {
					username: reUsername,
					fullname: reFullname,
					phoneNumber: rePhoneNumber,
					email: reEmail,
					flatNo: reFlatNo,
					street: reStreet,
					landmark: reLandmark,
					district: reDistrict,
					pincode: rePincode,
					password: rePassword,
					generatedOTP: generatedOTP,
					otpInputField: otpInputField
				};
				console.log(reqbody, 'reqbody')
				const requestOptions = {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify(reqbody)
				}

				fetch("/postSignup", requestOptions)
					.then((response) => response.json())
					.then((data) => {
						if (data.status == 200) {
							location.replace(`/`);
						} else {
							showError('OTPErrMsg', "OTP Does not match");
						}
					})
					.catch((error) => {
						console.log(error, "error");
						showError('OTPErrMsg', "Something went wrong! Try again later");
					});
			}

			function forgotPassWordSendOtp() {
				const forgotEmail = document.getElementById("forgotEmail").value;
				const requestOptions = {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						email: forgotEmail
					})
				}
				fetch("/postForgotPassword", requestOptions)
					.then((response) => {
						if (!response.ok) {
							response.json().then((error) => {
								showError('sendOtpErr', error.message);
							})
						}
						else {
							response.json().then(data => {
								$(".js-panel-resetPasswordStep2").addClass("show-header-myaccount");
								$(".js-panel-editInfo").removeClass("show-header-myaccount");
								$(".js-panel-resetPassword").removeClass("show-header-myaccount");
								$(".js-panel-myaccount").removeClass("show-header-myaccount");
								$(".js-panel-resetPasswordStep2").addClass("js-hide-editInfo js-hide-otp js-hide-myaccount js-hide-resetPassword js-show-resetPasswordStep2");
								resetPasswordOtp = data.body.forgotPasswordOTP
								userMail = data.body.userMail
							})
						}
					})
					.then()
					.catch((error) => {
						console.log(error);
					});
			}

			function resetPassword() {
				const confirmOTP = document.getElementById("confirmOTP").value;
				const newPassword = document.getElementById("newPassword").value;
				const confirmNewPassword = document.getElementById("confirmNewPassword").value;

				if (confirmOTP == "") {
					showError('resetPasswordError', "OTP is missing");
					return false;
				} else if (!newPassword.match(passwwordregx)) {
					showError('resetPasswordError', "The password must be at least 6 characters long and must contain at least one lowercase letter, one uppercase letter, one digit, and one special character (@, #, $, !, %, *, ?, &)");
					return false;
				} else if (newPassword !== confirmNewPassword) {
					showError('resetPasswordError', "Password and confirm password should be same");
					return false;
				}
				console.log(resetPasswordOtp, "resetPasswordOtp")
				console.log(userMail, "userMail");
				console.log(confirmOTP, "otpFromUser");
				const requestOptions = {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						newPassword: newPassword,
						otpFromUser: confirmOTP,
						otpFromBackend: resetPasswordOtp,
						email: userMail
					})
				}

				fetch("/postResetForgotPassword", requestOptions)
					.then((response) => {
						if (!response.ok) {
							response.json().then((error) => {
								showError('resetPasswordError', error.message);
							})
						}
						else {
							response.json().then(data => {
								location.replace(`/`);
							})
						}
					})
					.then((data) => response.json())
					.catch((error) => {
						console.log(error);
					});
			}

			let userBlockSwal = "<%=body.userBlockSwal%>"
			if (userBlockSwal) {
				console.log(userBlockSwal, " INSIDE user blcok");
				window.addEventListener("load", () => {
					swal({
						title: "User blocked",
						text: "Contact administrator for more details",
						icon: "warning",
						buttons: true,
						dangerMode: true,
						buttons: "Cancel",

					})
				})
			}
		</script>
		<script>
			function detailView() {
				swal({
					title: "Detailed Access Locked",
					text: "Signed users unlock detailed dish access",
					icon: "warning",
					buttons: true,
					dangerMode: true,
					buttons: ["Cancel", "Sign In"],

				}).then((willDelete) => {
					if (willDelete) {
						$(".js-panel-myaccount").addClass("show-header-myaccount");
					}
				});
			}
		</script>
		<script src="vendor/isotope/isotope.pkgd.min.js"></script>
		<script src="vendor/sweetalert/sweetalert.min.js"></script>
		<script>
			$('.js-addwish-b2').on('click', function (e) {
				e.preventDefault();
			});
			$('.js-addwish-b2').each(function () {
				var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
				$(this).on('click', function () {
					swal({

						title: "Sign In first",
						text: "Only Signed user can add dish to cart",
						icon: "warning",
						buttons: true,
						dangerMode: true,
						buttons: ["Cancel", "Sign In"],

					})
						.then((willDelete) => {
							if (willDelete) {
								$(".js-panel-myaccount").addClass("show-header-myaccount");
							}
						});

					$(this).addClass('js-addedwish-b2');
					$(this).off('click');
				})
			});
		</script>

		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>

		<script src="js/main.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>

</body>

</html>